<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">Sửa thông tin về chúng tôi</h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Địa chỉ website đối tác ( nếu có )</label>
                                    <quill-editor [content]="content" #description></quill-editor>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Mô tả cho đối tác ( nếu có )</label>
                                    <input type="text" class="form-control border-input" placeholder="Mô tả" value="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nhập cho ngôn ngữ</label>
                                    <select class="form-control border-input" #lang>
                                        <option value="vn">Tiếng Việt</option>
                                        <option value="en">Tiếng Anh</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-info btn-fill btn-wd" (click)="back();">
                                Quay lại
                            </button>
                            <button type="button" class="btn btn-info btn-fill btn-wd" (click)="updateAboutUs();">
                                Lưu thông tin
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<modal #noticeModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Thông báo</h4>
    </modal-header>
    <modal-body>
        {{ noticeMessage }}
    </modal-body>
    <modal-footer [show-default-buttons]="false"></modal-footer>
</modal>
<spinner-component [spinnerShow]="flagSpinner"></spinner-component>