USE [GreenLotus]
GO
/****** Object:  StoredProcedure [dbo].[addAboutPeople]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  CREATE proc [dbo].[addAboutPeople]
  @Description nvarchar(max),
  @RoleName nvarchar(200),
  @PictureURL nvarchar(max),
  @Lang nvarchar(50)
  as
  insert into AboutPeople(Description, RoleName, PictureURL, Lang, [Type])
  values(@Description, @RoleName, @PictureURL, @Lang, 'people')

GO
/****** Object:  StoredProcedure [dbo].[addBlog]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addBlog]
@DateCreate datetime,
@Tag nvarchar(max),
@Author nvarchar(200),
@ImageTitle nvarchar(max),
@VideoPath nvarchar(max),
@Description nvarchar(max),
@Lang nvarchar(50),
@Title nvarchar(max)
as
insert into Blog(DateCreate, Tag, Author, ImageTitle, VideoPath, [Description], Lang, Title)
values(@DateCreate, @Tag, @Author, @ImageTitle, @VideoPath, @Description, @Lang, @Title)
GO
/****** Object:  StoredProcedure [dbo].[addClientSaid]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
  CREATE proc [dbo].[addClientSaid]
  @Description nvarchar(max),
  @RoleName nvarchar(200),
  @PictureURL nvarchar(max),
  @Lang nvarchar(50)
  as
  insert into AboutPeople(Description, RoleName, PictureURL, Lang, [Type])
  values(@Description, @RoleName, @PictureURL, @Lang, 'clientsaid')
GO
/****** Object:  StoredProcedure [dbo].[addPartner]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addPartner]
	@PictureURL nvarchar(max),
	@URLRefercens nvarchar(max),
	@Description nvarchar(max),
	@Lang nvarchar(50)
as
insert into AboutPartner(PictureURL, URLReferences, [Description], Lang)
values(@PictureURL, @URLRefercens, @Description, @Lang)


GO
/****** Object:  StoredProcedure [dbo].[addUser]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addUser]
  @Username nvarchar(50),
  @Address nvarchar(200),
  @Email nvarchar(200),
  @Password nvarchar(200),
  @ID_Role int
  as
  insert into Users(UserName, [Password], ID_Role, Email, [Address], Status)
  values(@Username, @Password, @ID_Role, @Email, @Address, 1)


GO
/****** Object:  StoredProcedure [dbo].[checkLogin]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[checkLogin]
  @email nvarchar(200),
  @pass nvarchar(200)
  as
  select u.ID_Users ,u.Username, u.Password, u.Email, u.Address, r.Name, u.[Status] from Users as u, Role as r
  where Email = @email and [Password] = @pass and r.ID_Role = u.ID_Role and u.[Status] = 1


GO
/****** Object:  StoredProcedure [dbo].[deleteAboutPeople]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[deleteAboutPeople]
  @ID_AboutPeople int
  as
  delete AboutPeople
  where ID_AboutPeople = @ID_AboutPeople

GO
/****** Object:  StoredProcedure [dbo].[deleteBlog]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deleteBlog]
@ID_Blog int
as
delete Blog
where ID_Blog = @ID_Blog
GO
/****** Object:  StoredProcedure [dbo].[deletePartner]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deletePartner]
	@ID int
as
delete AboutPartner
where ID_AboutPartner = @ID


GO
/****** Object:  StoredProcedure [dbo].[getAboutPeople]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[getAboutPeople]
  as
  select * from AboutPeople

GO
/****** Object:  StoredProcedure [dbo].[getAllAboutUs]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  create proc [dbo].[getAllAboutUs]
  as
  select * from AboutUs

GO
/****** Object:  StoredProcedure [dbo].[getAllPartner]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getAllPartner]
as
select *
from AboutPartner


GO
/****** Object:  StoredProcedure [dbo].[getAllUser]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getAllUser]
  as
  select u.ID_Users ,u.Username, u.Password, u.Email, u.Address, r.Name, u.Status from Users as u, Role as r
  where r.ID_Role = u.ID_Role


GO
/****** Object:  StoredProcedure [dbo].[getBlog]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getBlog]
as
select * from Blog
GO
/****** Object:  StoredProcedure [dbo].[getUserByID]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getUserByID]
  @ID int
  as
  select u.ID_Users ,u.Username, u.Password, u.Email, u.Address, r.Name, u.Status, r.ID_Role from Users as u, Role as r
  where u.ID_Users = @ID and r.ID_Role = u.ID_Role


GO
/****** Object:  StoredProcedure [dbo].[updateAboutPeople]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[updateAboutPeople]
  @ID_AboutPeople int,
  @Description nvarchar(max),
  @RoleName nvarchar(200),
  @PictureURL nvarchar(max),
  @Lang nvarchar(50)
  as
  update AboutPeople
  set [Description] = @Description, RoleName = @RoleName, PictureURL = @PictureURL, Lang = @Lang
  where ID_AboutPeople = @ID_AboutPeople

GO
/****** Object:  StoredProcedure [dbo].[updateAboutUs]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE proc [dbo].[updateAboutUs]
  @ID_AboutUs int,
  @Description nvarchar(max),
  @WhyChoose nvarchar(max),
  @OurMission nvarchar(max)
  as
  update AboutUs
  set Description = @Description,
  WhyChoose = @WhyChoose,
  OurMission = @OurMission
  where ID_AboutUs = @ID_AboutUs

GO
/****** Object:  StoredProcedure [dbo].[updateBlog]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updateBlog]
@ID_Blog int,
@DateCreate datetime,
@Tag nvarchar(max),
@Author nvarchar(200),
@ImageTitle nvarchar(max),
@VideoPath nvarchar(max),
@Description nvarchar(max),
@Lang nvarchar(50),
@Title nvarchar(max)
as
update Blog
set DateCreate = @DateCreate
, Tag = @Tag
, Author = @Author
, ImageTitle = @ImageTitle
, VideoPath = @VideoPath
, [Description] = @Description
, Lang = @Lang
, Title = @Title
where ID_Blog = @ID_Blog
GO
/****** Object:  StoredProcedure [dbo].[updatePartner]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updatePartner]
	@ID_AboutPartner int,
	@PictureURL nvarchar(max),
	@URLRefercens nvarchar(max),
	@Description nvarchar(max),
	@Lang nvarchar(50)
as
update AboutPartner
set PictureURL = @PictureURL,
URLReferences = @URLRefercens,
[Description] = @Description,
Lang = @Lang
where ID_AboutPartner = @ID_AboutPartner


GO
/****** Object:  StoredProcedure [dbo].[updateUser]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updateUser]
	@ID_Users int,
	@Username nvarchar(50),
	@Address nvarchar(200),
	@Password nvarchar(200),
	@ID_Role int,
	@Status bit
  as
  update Users
  set UserName = @Username,
	  [Password] = @Password,
	  ID_Role = @ID_Role,
	  [Address] = @Address,
	  [Status] = @Status
  where ID_Users = @ID_Users


GO
/****** Object:  Table [dbo].[AboutPartner]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutPartner](
	[ID_AboutPartner] [int] IDENTITY(1,1) NOT NULL,
	[PictureURL] [nvarchar](max) NULL,
	[URLReferences] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Lang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_AboutPartner] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AboutPeople]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutPeople](
	[ID_AboutPeople] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[RoleName] [nvarchar](200) NULL,
	[PictureURL] [nvarchar](max) NULL,
	[Lang] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_AboutPeople] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AboutUs]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutUs](
	[ID_AboutUs] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[WhyChoose] [nvarchar](max) NULL,
	[OurMission] [nvarchar](max) NULL,
	[Lang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_AboutUs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Blog]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[ID_Blog] [int] IDENTITY(1,1) NOT NULL,
	[DateCreate] [datetime] NULL,
	[Tag] [nvarchar](max) NULL,
	[Author] [nvarchar](200) NULL,
	[ImageTitle] [nvarchar](max) NULL,
	[VideoPath] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Lang] [nvarchar](50) NULL,
	[Title] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Blog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID_Role] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/30/17 00:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID_Users] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](200) NULL,
	[ID_Role] [int] NULL,
	[Email] [nvarchar](200) NULL,
	[Address] [nvarchar](200) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Users] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AboutPartner] ON 

INSERT [dbo].[AboutPartner] ([ID_AboutPartner], [PictureURL], [URLReferences], [Description], [Lang]) VALUES (8, N'/Image/partner-1507570790.png', N'http://fptplay.vn', N'fptvn', N'vn')
INSERT [dbo].[AboutPartner] ([ID_AboutPartner], [PictureURL], [URLReferences], [Description], [Lang]) VALUES (9, N'/Image/partner-1507570805.png', N'http://www.fptplay.vn', N'fpt is the IT company', N'en')
INSERT [dbo].[AboutPartner] ([ID_AboutPartner], [PictureURL], [URLReferences], [Description], [Lang]) VALUES (10, N'/Image/partner-1509283353.png', N'https://www.google.com.vn', N'Dịch vụ vận chuyển số 1 Việt Nam', N'vn')
SET IDENTITY_INSERT [dbo].[AboutPartner] OFF
SET IDENTITY_INSERT [dbo].[AboutPeople] ON 

INSERT [dbo].[AboutPeople] ([ID_AboutPeople], [Description], [RoleName], [PictureURL], [Lang], [Type]) VALUES (1, N'Giám đốc CEO Giám đốc CEO Giám đốc CEO Giám đốc CEO Giám đốc CEO Giám đốc CEO Giám đốc CEO Giám đốc CEO Giám đốc CEO Giám đốc CEO Giám đốc CEO Giám đốc CEO Giám đốc CEO Giám đốc CEO Giám đốc CEO Giám đốc CEO Giám đốc CEO', N'Nguyễn Văn A - Giám đốc CEO', N'/Image/about-people-1509296900.jpg', N'vn', N'people')
INSERT [dbo].[AboutPeople] ([ID_AboutPeople], [Description], [RoleName], [PictureURL], [Lang], [Type]) VALUES (2, N'Nếu người đàn ông không uống trà, anh ấy không thể cảm nhận được sự thật và cái đẹp.', N'CEO Apple', N'/Image/about-clientsaid-1509286659.png', N'vn', N'clientsaid')
INSERT [dbo].[AboutPeople] ([ID_AboutPeople], [Description], [RoleName], [PictureURL], [Lang], [Type]) VALUES (3, N'CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO CFO', N'CFO', N'/Image/about-people-1509296917.jpg', N'vn', N'people')
SET IDENTITY_INSERT [dbo].[AboutPeople] OFF
SET IDENTITY_INSERT [dbo].[AboutUs] ON 

SET IDENTITY_INSERT [dbo].[AboutUs] OFF
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID_Role], [Name]) VALUES (1, N'Admin ( cấp cao )')
INSERT [dbo].[Role] ([ID_Role], [Name]) VALUES (2, N'Quản lý ')
INSERT [dbo].[Role] ([ID_Role], [Name]) VALUES (3, N'Người dùng bình thường')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID_Users], [UserName], [Password], [ID_Role], [Email], [Address], [Status]) VALUES (1, N'System Admin', N'sa123456', 1, N'sa@gmail.com', N'123 nguyễn văn cừ, Q1', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([ID_Role])
REFERENCES [dbo].[Role] ([ID_Role])
GO
