<div id="wrapper" class="clearfix">
    <app-header>
    </app-header>
    <router-outlet></router-outlet>
</div>
<footer id="footer" class="dark">
    <!-- Copyrights
                    ============================================= -->
    <div id="copyrights">
        <div class="container clearfix">
            <div class="col_half">
                <!-- <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div> -->
                <div class="widget subscribe-widget clearfix">
                    <h5>
                        <strong>Đăng ký với chúng tôi để nhận được thông báo và tin tức mới nhất</strong></h5>
                    <div class="widget-subscribe-form-result"></div>
                    <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                        <div class="input-group divcenter">
                            <span class="input-group-addon">
                                <i class="icon-email2"></i>
                            </span>
                            <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email"
                                placeholder="Nhập Email của bạn">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Đăng ký</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div style="color: white">Copyrights &copy; 2017 All Rights Reserved by Green Lotus Inc.</div>
            </div>

            <div class="col_half col_last tright">
                <div class="fright clearfix">
                    <a href="#" class="social-icon si-small si-borderless si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-gplus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-pinterest">
                        <i class="icon-pinterest"></i>
                        <i class="icon-pinterest"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-vimeo">
                        <i class="icon-vimeo"></i>
                        <i class="icon-vimeo"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-github">
                        <i class="icon-github"></i>
                        <i class="icon-github"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-yahoo">
                        <i class="icon-yahoo"></i>
                        <i class="icon-yahoo"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>
                </div>

                <div class="clear"></div>
                <div style="color: white">
                    <i class="icon-envelope2"></i> info@greenlotus.com
                    <span class="middot">&middot;</span>
                    <i class="icon-headphones"></i> (028) 62918792 - (028) 62918791 <br/>
                    <span class="middot">&middot;</span>
                    <i class="icon-line-mail"></i> FAX: (028) 62560610
                </div>
            </div>

        </div>

    </div>
    <!-- #copyrights end -->

</footer>
<!-- #footer end -->
<!-- #wrapper end -->
<div id="gotoTop" class="icon-angle-up"></div>
<div #myScript></div>