<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Giới thiệu nhân viên công ty</h4>
                    <!-- <b>* Gõ vào ô tìm kiếm từ bạn muốn và bấm Enter để tìm kiếm</b> -->
                </div>
                <div class="header">
                    <div class="row">
                        <div class="col-md-3">
                            <button type="button" class="btn btn-info btn-fill btn-wd" (click)="addPeople();">
                                Thêm giới thiệu nhân viên
                            </button>
                        </div>
                        <!-- <div class="col-md-4">
                                Tìm kiếm
                        </div> -->
                    </div>
                    <div class="row">
                        <!-- <div class="col-md-3">
                            <select class="form-control border-input" #sex>
                                <option value="all">Tất cả</option>
                                <option value="cus">Khách hàng</option>
                                <option value="emp">Nhân viên</option>
                            </select>
                        </div> -->
                        <!-- <div class="col-md-4">
                            <input type="text" class="form-control border-input" placeholder="Tìm kiếm" value="" #search>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-info btn-fill btn-wd" (click)="exportExcel();">
                                Tìm kiếm
                            </button>
                        </div> -->
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData1.dataRows">
                                <td *ngFor="let cell of row">
                                    <div [innerHTML]="cell"></div>
                                </td>
                                <td>
                                    <a routerLink='/pages/admin/update-people/{{row[0].replace("KH-", "")}}'>Cập nhập</a> ||
                                    <a href='javascript:void(0)' (click)='showPopUpConfirm(row[0].replace("KH-", ""))'>Xóa</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<modal #noticeModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Thông báo</h4>
    </modal-header>
    <modal-body>
        {{ noticeMessage }}
        <input type="button" class="btn btn-info btn-fill btn-wd" value="Xác nhận xóa !" (click)="deletePeople()">
    </modal-body>
    <modal-footer [show-default-buttons]="false"></modal-footer>
</modal>
<spinner-component [spinnerShow]="flagSpinner"></spinner-component>