<div #myScript></div>
<!-- Header ============================================= -->
<div id="header" class="full-header">
    <div id="header-wrap">
        <div class="container clearfix">

            <div id="primary-menu-trigger">
                <i class="icon-reorder"></i>
            </div>
            <!-- Logo ============================================= -->
            <div id="logo">
                <a href='/pages/home' class="standard-logo" data-dark-logo="../../../assets/images/logo-dark.png">
                    <img src="../../../assets/images/logo.png" alt="Green Lotus Logo">
                </a>
                <a href='/pages/home' class="retina-logo" data-dark-logo="../../../assets/img/logo-greenlotus.png">
                    <img src="../../../assets/img/logo-greenlotus.png" alt="Green Lotus Logo">
                </a>
            </div>
            <!-- #logo end -->

            <!-- Primary Navigation ============================================= -->
            <nav id="primary-menu" class="dark">

                <ul>
                    <li class="">
                        <a [routerLink]="['/pages/home']">
                            <div>Trang chủ</div>
                        </a>
                    </li>
                    <li class="">
                        <a [routerLink]="['/pages/aboutus']">
                            <div>Về chúng tôi</div>
                        </a>
                    </li>
                    <li class="current">
                        <a [routerLink]="['/pages/blog']">
                            <div>Tin tức</div>
                        </a>
                    </li>
                    <!-- <li class="">
                        <a [routerLink]="['/pages/aboutus']">
                            <div>Đối tác</div>
                        </a>
                    </li> -->

                    <li class="">
                        <a [routerLink]="['/pages/contact']">
                            <div>Liên hệ</div>
                        </a>
                    </li>
                </ul>
                <div id="top-search">
                    <a href="#" id="top-search-trigger">
                        <img src="../../../assets/img/vn.ico" />
                    </a>
                    <a href="#" id="top-search-trigger">
                        <img src="../../../assets/img/eng.ico" />
                    </a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div>
                <!-- #top-search end -->
            </nav>
            <!-- #primary-menu end -->
        </div>
    </div>
</div>
<!-- Page Title
		============================================= -->
<section id="page-title">
    <div class="container clearfix">
        <h1>Tin tức / Dự án / Đối tác</h1>
        <span>Nơi tổng hợp tin tức, dự án và đối tác mà bạn quan tâm</span>
        <!-- <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="active">Portfolio</li>
        </ol> -->
    </div>
</section>
<!-- #page-title end -->

<!-- Content
		============================================= -->
<section id="content">

    <div class="content-wrap">
        <div class="container clearfix">
            <!-- Post Content
					============================================= -->
            <div class="postcontent nobottommargin col_last">

                <!-- Portfolio Filter
                                                    ============================================= -->
                <ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">

                    <li class="activeFilter">
                        <a href="#" data-filter="*">Tất cả</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".pf-icons">Tin tức</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".pf-illustrations">Dự án</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".pf-uielements">Đối tác</a>
                    </li>
                </ul>
                <!-- #portfolio-filter end -->

                <div id="portfolio-shuffle" class="portfolio-shuffle" data-container="#portfolio">
                    <i class="icon-random"></i>
                </div>

                <div class="clear"></div>

                <!-- Portfolio Items
                                                    ============================================= -->
                <div id="portfolio" class="portfolio grid-container portfolio-3 clearfix">

                    <article class="portfolio-item pf-media pf-icons" *ngFor="let item of arrayListAllBlog">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="{{ _s.baseURL + item.ImageTitle }}" alt="{{ item.Title }}" style="width:276.66px; height:184.28px">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="./assets/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image">
                                    <i class="icon-line-plus"></i>
                                </a>
                                <a href="portfolio-single.html" class="right-icon">
                                    <i class="icon-line-ellipsis"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3>
                                <a href="portfolio-single.html">{{ item.Title }}</a>
                            </h3>
                            <span>
                                <a href="#">Media</a>
                                <a href="#">Icons</a>
                            </span>
                        </div>
                    </article>

                    <!-- <article class="portfolio-item pf-illustrations">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="../../../assets/images/portfolio/3/2.jpg" alt="Locked Steel Gate">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="../../../assets/images/portfolio/full/2.jpg" class="left-icon" data-lightbox="image">
                                    <i class="icon-line-plus"></i>
                                </a>
                                <a href="portfolio-single.html" class="right-icon">
                                    <i class="icon-line-ellipsis"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3>
                                <a href="portfolio-single.html">Locked Steel Gate</a>
                            </h3>
                            <span>
                                <a href="#">Illustrations</a>
                            </span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-graphics pf-uielements">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="../../../assets/images/portfolio/3/3.jpg" alt="Mac Sunglasses">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="http://vimeo.com/89396394" class="left-icon" data-lightbox="iframe">
                                    <i class="icon-line-play"></i>
                                </a>
                                <a href="portfolio-single-video.html" class="right-icon">
                                    <i class="icon-line-ellipsis"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3>
                                <a href="portfolio-single-video.html">Mac Sunglasses</a>
                            </h3>
                            <span>
                                <a href="#">Graphics</a>
                                <a href="#">UI Elements</a>
                            </span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-icons pf-illustrations">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide">
                                            <a href="portfolio-single-gallery.html">
                                                <img src="../../../assets/images/portfolio/3/4.jpg" alt="Morning Dew">
                                            </a>
                                        </div>
                                        <div class="slide">
                                            <a href="portfolio-single-gallery.html">
                                                <img src="../../../assets/images/portfolio/3/4-1.jpg" alt="Morning Dew">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-overlay" data-lightbox="gallery">
                                <a href="../../../assets/images/portfolio/full/4.jpg" class="left-icon" data-lightbox="gallery-item">
                                    <i class="icon-line-stack-2"></i>
                                </a>
                                <a href="../../../assets/images/portfolio/full/4-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="portfolio-single-gallery.html" class="right-icon">
                                    <i class="icon-line-ellipsis"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3>
                                <a href="portfolio-single-gallery.html">Morning Dew</a>
                            </h3>
                            <span>
                                <a href="#">
                                    <a href="#">Icons</a>
                                    <a href="#">Illustrations</a>
                                </a>
                            </span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-uielements pf-media">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="../../../assets/images/portfolio/3/5.jpg" alt="Console Activity">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="../../../assets/images/portfolio/full/5.jpg" class="left-icon" data-lightbox="image">
                                    <i class="icon-line-plus"></i>
                                </a>
                                <a href="portfolio-single.html" class="right-icon">
                                    <i class="icon-line-ellipsis"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3>
                                <a href="portfolio-single.html">Console Activity</a>
                            </h3>
                            <span>
                                <a href="#">UI Elements</a>
                                <a href="#">Media</a>
                            </span>
                        </div>
                    </article> -->
                </div>
                <!-- #portfolio end -->

            </div>
            <!-- .postcontent end -->
            <!-- Sidebar
					============================================= -->
            <div class="sidebar nobottommargin">
                <div class="sidebar-widgets-wrap">

                    <div class="widget clearfix">

                        <h4>viết mới</h4>
                        <div id="post-list-footer">

                            <div class="spost clearfix" *ngFor="let item of arrayListNewBog">
                                <div class="entry-image">
                                    <a href="#" class="nobg">
                                        <img src="{{ _s.baseURL + item.ImageTitle }}" alt="">
                                    </a>
                                </div>
                                <div class="entry-c">
                                    <div class="entry-title">
                                        <h4>
                                            <a href="#">{{ item.Title }}</a>
                                        </h4>
                                    </div>
                                    <ul class="entry-meta">
                                        <li>{{ item.DateCreate.replace('T', ' ') }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- .sidebar end -->
        </div>
    </div>
</section>
<!-- #content end -->