<div #myScript></div>
<!-- Header ============================================= -->
<div id="header" class="full-header">
    <div id="header-wrap">
        <div class="container clearfix">

            <div id="primary-menu-trigger">
                <i class="icon-reorder"></i>
            </div>
            <!-- Logo ============================================= -->
            <div id="logo">
                <a [routerLink]="['/pages/home']" class="standard-logo" data-dark-logo="../../../assets/images/logo-dark.png">
                    <img src="../../../assets/images/logo.png" alt="Green Lotus Logo">
                </a>
                <a [routerLink]="['/pages/home']" class="retina-logo" data-dark-logo="../../../assets/img/logo-greenlotus.png">
                    <img src="../../../assets/img/logo-greenlotus.png" alt="Green Lotus Logo">
                </a>
            </div>
            <!-- #logo end -->

            <!-- Primary Navigation ============================================= -->
            <nav id="primary-menu" class="dark">

                <ul>
                    <li class="">
                        <a [routerLink]="['/pages/home']">
                            <div>Trang chủ</div>
                        </a>
                    </li>
                    <li class="">
                        <a [routerLink]="['/pages/aboutus']">
                            <div>Về chúng tôi</div>
                        </a>
                    </li>
                    <li class="">
                        <a [routerLink]="['/pages/blog']">
                            <div>Tin tức</div>
                        </a>
                    </li>
                    <!-- <li class="">
                        <a [routerLink]="['/pages/aboutus']">
                            <div>Đối tác</div>
                        </a>
                    </li> -->
                    
                    <li class="current">
                            <a [routerLink]="['/pages/contact']">
                            <div>Liên hệ</div>
                        </a>
                    </li>
                </ul>
                <div id="top-search">
                    <a href="#" id="top-search-trigger">
                        <img src="../../../assets/img/vn.ico" />
                    </a>
                    <a href="#" id="top-search-trigger">
                        <img src="../../../assets/img/eng.ico" />
                    </a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div>
                <!-- #top-search end -->
            </nav>
            <!-- #primary-menu end -->
        </div>
    </div>
</div>

<!-- Page Title
		============================================= -->
<section id="page-title" class="page-title-mini">

    <div class="container clearfix">
        <h1 class="custom_font">Liên hệ với chúng tôi</h1>
        <span>Hãy gửi câu hỏi hoặc thắc mắc của bạn cho chúng tôi</span>
        <!-- 				<ol class="breadcrumb">
					<li><a href="#">Trang chủ</a></li>
					<li class="active">About Us</li>
				</ol> -->
    </div>

</section>
<!-- #page-title end -->

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <!-- Contact Form ============================================= -->
            <div class="col_half">
                <div class="fancy-title title-dotted-border">
                    <h3 class="custom_font">Gửi thông tin cho chúng tôi</h3>
                </div>
                <div class="contact-widget">
                    <div class="contact-form-result"></div>
                    <form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/sendemail.php" method="post">

                        <div class="form-process"></div>

                        <div class="col_one_third">
                            <label for="template-contactform-name">Tên của bạn
                                <small>*</small>
                            </label>
                            <input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" #name/>
                        </div>

                        <div class="col_one_third">
                            <label for="template-contactform-email">Email
                                <small>*</small>
                            </label>
                            <input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" #email/>
                        </div>

                        <div class="col_one_third col_last">
                            <label for="template-contactform-phone">Số điện thoại</label>
                            <input type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control" #phonenumber/>
                        </div>

                        <div class="clear"></div>

                        <div class="col_two_third">
                            <label for="template-contactform-subject">Tiêu đề
                                <small>*</small>
                            </label>
                            <input type="text" id="template-contactform-subject" name="template-contactform-subject" value="" class="required sm-form-control"
                            #title/>
                        </div>


                        <div class="clear"></div>

                        <div class="col_full">
                            <label for="template-contactform-message">Nội dung
                                <small>*</small>
                            </label>
                            <textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6"
                                cols="30" #description></textarea>
                        </div>

                        <div class="col_full hidden">
                            <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control"
                            />
                        </div>

                        <div class="col_full">
                            <button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d nomargin" (click)="sendEmail()">Gửi thông tin</button>
                        </div>

                    </form>
                </div>

            </div>
            <!-- Contact Form End -->

            <!-- google Map
                                            ============================================= -->
            <div class="col_half col_last">

                <section id="google-map" class="gmap" style="height: 410px;"></section>

            </div>
            <!-- Google Map End -->

            <div class="clear"></div>

            <!-- Contact Info
                                            ============================================= -->
            <div class="row clear-bottommargin">

                <div class="col-md-3 col-sm-6 bottommargin clearfix">
                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                        <div class="fbox-icon">
                            <a href="#">
                                <i class="icon-map-marker2"></i>
                            </a>
                        </div>
                        <h3>Văn phòng chính
                            <span class="subtitle custom_font">LẦU 36, TÒA NHÀ BITEXCO , 2 HẢI TRIỀU , P.BẾN NGHÉ, QUẬN 1, TP.HCM</span>
                        </h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 bottommargin clearfix">
                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                        <div class="fbox-icon">
                            <a href="#">
                                <i class="icon-phone3"></i>
                            </a>
                        </div>
                        <h3>Điện thoại của chúng tôi
                            <span class="subtitle custom_font">(028) 62918792 - (028) 62918791</span>
                        </h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 bottommargin clearfix">
                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                        <div class="fbox-icon">
                            <a href="#">
                                <i class="icon-foursquare2"></i>
                            </a>
                        </div>
                        <h3>FAX
                            <span class="subtitle custom_font">(028) 62560610</span>
                        </h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 bottommargin clearfix">
                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                        <div class="fbox-icon">
                            <a href="#">
                                <i class="icon-twitter2"></i>
                            </a>
                        </div>
                        <h3>Follow chúng tôi trên Twitter
                            <span class="subtitle custom_font">2.3 triệu Followers</span>
                        </h3>
                    </div>
                </div>

            </div>
            <!-- Contact Info End -->

        </div>

    </div>

</section>
<!-- #content end -->