<div #myScript></div>
<!-- Header ============================================= -->
<div id="header" class="full-header">
    <div id="header-wrap">
        <div class="container clearfix">

            <div id="primary-menu-trigger">
                <i class="icon-reorder"></i>
            </div>
            <!-- Logo ============================================= -->
            <div id="logo">
                <a href='/pages/home' class="standard-logo" data-dark-logo="../../../assets/img/logo-greenlotus.png">
                    <img src="../../../assets/img/logo-greenlotus.png" alt="Green Lotus Logo">
                </a>
                <a href='/pages/home' class="retina-logo" data-dark-logo="../../../assets/img/logo-greenlotus.png">
                    <img src="../../../assets/img/logo-greenlotus.png" alt="Green Lotus Logo">
                </a>
            </div>
            <!-- #logo end -->

            <!-- Primary Navigation ============================================= -->
            <nav id="primary-menu" class="dark">

                <ul>
                    <li class="">
                        <a href="/pages/home">
                            <div>Trang chủ</div>
                        </a>
                    </li>
                    <li class="">
                        <a href="/pages/aboutus">
                            <div>Về chúng tôi</div>
                        </a>
                    </li>
                    <li class="current">
                        <a href='/pages/blog'>
                            <div>Tin tức</div>
                        </a>
                    </li>
                    <!-- <li class="">
                        <a [routerLink]="['/pages/aboutus']">
                            <div>Đối tác</div>
                        </a>
                    </li> -->

                    <li class="">
                        <a href='/pages/contact'>
                            <div>Liên hệ</div>
                        </a>
                    </li>
                </ul>
                <div id="top-search">
                    <a href="#" id="top-search-trigger">
                        <img src="../../../assets/img/vn.ico" />
                    </a>
                    <a href="#" id="top-search-trigger">
                        <img src="../../../assets/img/eng.ico" />
                    </a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div>
                <!-- #top-search end -->
            </nav>
            <!-- #primary-menu end -->
        </div>
    </div>
</div>
<!-- Page Title
		============================================= -->
<section id="page-title">
    <div class="container clearfix">
        <h1>Tin tức / Dự án / Đối tác</h1>
        <span>Nơi tổng hợp tin tức, dự án và đối tác mà bạn quan tâm</span>
        <!-- <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="active">Portfolio</li>
        </ol> -->
    </div>
</section>
<!-- #page-title end -->

<!-- Content
		============================================= -->
<section id="content">

    <div class="content-wrap">
        <div class="container clearfix">


            <!-- Sidebar
					============================================= -->
            <div class="sidebar nobottommargin">
                <div class="sidebar-widgets-wrap">

                    <div class="widget clearfix">

                        <h4>Bài viết mới</h4>
                        <div id="post-list-footer">

                            <div class="spost clearfix" *ngFor="let item of arrayListNewBog">
                                <div class="entry-image">
                                    <a href='/pages/blog-detail/{{ item.ID_Blog }}' class="nobg">
                                        <img src="{{ _s.baseURL + item.ImageTitle }}" alt="">
                                    </a>
                                </div>
                                <div class="entry-c">
                                    <div class="entry-title">
                                        <h4>
                                            <a href='/pages/blog-detail/{{ item.ID_Blog }}'>{{ item.Title }}</a>
                                        </h4>
                                    </div>
                                    <ul class="entry-meta">
                                        <li>{{ item.DateCreate.replace('T', ' ') }}</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- <div class="spost clearfix">
                                <div class="entry-image">
                                    <a href="#" class="nobg">
                                        <img src="../../../assets/images/magazine/small/2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="entry-c">
                                    <div class="entry-title">
                                        <h4>
                                            <a href="#">Elit Assumenda vel amet dolorum quasi</a>
                                        </h4>
                                    </div>
                                    <ul class="entry-meta">
                                        <li>10th July 2017</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="spost clearfix">
                                <div class="entry-image">
                                    <a href="#" class="nobg">
                                        <img src="../../../assets/images/magazine/small/3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="entry-c">
                                    <div class="entry-title">
                                        <h4>
                                            <a href="#">Debitis nihil placeat, illum est nisi</a>
                                        </h4>
                                    </div>
                                    <ul class="entry-meta">
                                        <li>10th July 2017</li>
                                    </ul>
                                </div>
                            </div> -->

                        </div>

                    </div>
                </div>
            </div>
            <!-- .sidebar end -->
            <div class="postcontent bothsidebar nobottommargin">

                <!-- Portfolio Single Video
                                            ============================================= -->
                <div class="col_full portfolio-single-image">
                    <!-- <a *ngIf="!item.VideoPath" href="{{ _s.baseURL + item.ImageTitle }}" class="left-icon" data-lightbox="image">
                                <i class="icon-line-plus"></i>
                            </a>
                            <a *ngIf="item.VideoPath" href="" class="left-icon" data-lightbox="iframe">
                                <i class="icon-line-play"></i>
                            </a> -->
                    <video *ngIf="selectedNews?.VideoPath" width="400" controls autoplay>
                        <source src="{{ _s.baseURL + selectedNews?.VideoPath }}" type="video/mp4"> Your browser does not support HTML5 video.
                    </video>
                    <img *ngIf="!selectedNews?.VideoPath" src="{{ _s.baseURL + selectedNews?.ImageTitle }}" alt="{{ selectedNews?.Title }}" style="max-width:700px;">
                    <!-- <iframe  src="{" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen
                        allowfullscreen></iframe> -->
                </div>
                <!-- .portfolio-single-image end -->

                <!-- Portfolio Single Content
                                            ============================================= -->
                <div class="col_full portfolio-single-content">

                    <!-- Portfolio Single - Description
                                                ============================================= -->
                    <div class="fancy-title title-dotted-border">
                        <h2>{{ selectedNews?.Title }}</h2>
                    </div>

                    <p [innerHTML]="selectedNews?.Description"></p>
                    <!-- Portfolio Single - Description End -->

                </div>
                <!-- .portfolio-single-content end -->

                <div class="line"></div>

                <div class="col_full nobottommargin">

                    <!-- Portfolio Single - Meta
                                                ============================================= -->
                    <ul class="portfolio-meta bottommargin">
                        <!-- <li>
                            <span>
                                <i class="icon-user"></i>Created by:</span> John Doe</li> -->
                        <li>
                            <span>
                                <i class="icon-calendar3"></i>Đăng ngày:</span>{{ selectedNews?.DateCreate.replace('T', ' ') }}</li>
                        <li>
                            <span>
                                <i class="icon-lightbulb"></i>Thuộc mục:</span>{{ selectedNews?.Tag }}</li>
                        <!-- <li>
                            <span>
                                <i class="icon-link"></i>Client:</span>
                            <a href="#">Google</a>
                        </li> -->
                    </ul>
                    <!-- Portfolio Single - Meta End -->

                    <!-- Portfolio Single - Share
                                                ============================================= -->
                    <div class="si-share clearfix">

                    </div>
                    <!-- Portfolio Single - Share End -->

                </div>

                <div class="clear bottommargin"></div>

                <!-- Related Portfolio Items
                                            ============================================= -->
                <!-- <h4>Bải viết liên quan:</h4>

                <div id="related-portfolio" class="owl-carousel portfolio-carousel portfolio-3 carousel-widget" data-margin="20" data-nav="false"
                    data-autoplay="5000" data-items-xxs="1" data-items-xs="2" data-items-sm="3" data-items-md="2" data-items-lg="3">

                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="../../../assets/images/portfolio/4/1.jpg" alt="Open Imagination">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="../../../assets/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image">
                                        <i class="icon-line-plus"></i>
                                    </a>
                                    <a href="portfolio-single.html" class="right-icon">
                                        <i class="icon-line-ellipsis"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3>
                                    <a href="portfolio-single.html">Open Imagination</a>
                                </h3>
                                <span>
                                    <a href="#">Media</a>,
                                    <a href="#">Icons</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="../../../assets/images/portfolio/4/2.jpg" alt="Locked Steel Gate">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="../../../assets/images/portfolio/full/2.jpg" class="left-icon" data-lightbox="image">
                                        <i class="icon-line-plus"></i>
                                    </a>
                                    <a href="portfolio-single.html" class="right-icon">
                                        <i class="icon-line-ellipsis"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3>
                                    <a href="portfolio-single.html">Locked Steel Gate</a>
                                </h3>
                                <span>
                                    <a href="#">Illustrations</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image">
                                <a href="#">
                                    <img src="../../../assets/images/portfolio/4/3.jpg" alt="Mac Sunglasses">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="http://vimeo.com/89396394" class="left-icon" data-lightbox="iframe">
                                        <i class="icon-line-play"></i>
                                    </a>
                                    <a href="portfolio-single-video.html" class="right-icon">
                                        <i class="icon-line-ellipsis"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3>
                                    <a href="portfolio-single-video.html">Mac Sunglasses</a>
                                </h3>
                                <span>
                                    <a href="#">Graphics</a>,
                                    <a href="#">UI Elements</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image">
                                <a href="#">
                                    <img src="../../../assets/images/portfolio/4/4.jpg" alt="Mac Sunglasses">
                                </a>
                                <div class="portfolio-overlay" data-lightbox="gallery">
                                    <a href="../../../assets/images/portfolio/full/4.jpg" class="left-icon" data-lightbox="gallery-item">
                                        <i class="icon-line-stack-2"></i>
                                    </a>
                                    <a href="../../../assets/images/portfolio/full/4-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                    <a href="portfolio-single-gallery.html" class="right-icon">
                                        <i class="icon-line-ellipsis"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3>
                                    <a href="portfolio-single-gallery.html">Morning Dew</a>
                                </h3>
                                <span>
                                    <a href="#">
                                        <a href="#">Icons</a>,
                                        <a href="#">Illustrations</a>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>

                </div> -->
                <!-- .portfolio-carousel end -->

            </div>
        </div>
    </div>
</section>
<!-- #content end -->